# Combining orders_products_combined dataframe with df_prods dataframe

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
# Create a path
path = r'C:\Users\pinto\OneDrive\Documenti\1-2024-Instacart Basket Analysis'

In [4]:
# Import products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [5]:
# Import orders_products_combined.pkl
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
# Check the output
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [7]:
# Check the output
df_ords_prods_combined.shape

(32434489, 13)

In [8]:
# Check df_prods dataframe
df_prods.shape

(49693, 6)

The two dataframes don't match in shape, hence we can't concatenate them. I decided to merge them, since I believe it's the best option.

In [9]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49693 non-null  int64
 1   product_id     49693 non-null  int64
 2   product_name   49677 non-null  object
 3   aisle_id       49693 non-null  int64
 4   department_id  49693 non-null  int64
 5   prices         49693 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [11]:
# Merge dataframes
df_ords_prods_merge = df_ords_prods_combined.merge(df_prods, on='product_id', suffixes=('_ords_prods', '_prods'), indicator='merge_indicator')

In [12]:
# Check the output
df_ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_ords_prods,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_prods,product_name,aisle_id,department_id,prices,merge_indicator
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

In [13]:
# Check for full match or not
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
# Export data to pkl

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))